@{
    ViewBag.Title = "Admin Home Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    If you are developing a modern web-based application, chances are you:

Are using javascript on the client side.
Need to integrate with services that are not completely under your control (or that reside in a different “origin”).
Have been confronted by this error message in your browser’s console:
    <p>Formatting DateTime to show only Date in ASP.net MVC

In ASP.net MVC Razor view, you might need to show just Date or Time given a DateTime object. One naive approach to do so in Razor view could be:

However, a better approach could be overloading the ToString() function for DateTime object. For example, define following extension method in your constants/helper class:</p>

The origin of a page is defined by its  protocol, host and port number. For example, the origin of this page is (‘http’,’jvaneyck.wordpress.com’, 80). Resources with the same origin have full access to each other. 
If pages A and B share the same origin, Javascript code included on A can perform HTTP requests to B’s server, manipulate the DOM of B or even read cookies set by B. Note that the origin is defined by the source location of the webpage. To clarify: a javascript source file loaded from another domain (e.g. a jQuery referenced from a remote CDN) will run in the origin of the HTML that includes the script, not in the domain where the javascript file originated from.</div>

